.yy-dialog {
  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 70%;
    max-width: $dialog-max-width;
    background-color: $color-white;
    border-radius: $border-radius-primary;
    // height: -webkit-max-content;
    // height: -moz-max-content;
    // height: max-content;
    border-radius: $border-radius-sm;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all .2s ease-in-out;
    text-align: center;
    z-index: $z-index-max;
  }
  &--show {
    .yy-dialog__body {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: all .2s ease-in-out;
    }
  }
  &__title {
    font-size: $font-size + 2;
    margin: $space-md;
  }
  &__content {
    color: $color-gray;
    margin: $space-md $space-primary;
  }
  &__handle {
    margin-top: $space-primary;
    display: -webkit-flex;
    display: flex;
    border-top: 1px solid $color-border-light;
    .yy-button {
      flex: 1;
      font-size: $font-size + 2;
      border: none;
    }
  }
  &__cancel {
    border-right: 1px solid $color-border-light !important;
    color: $color-gray;
    border-radius: 0 !important;
  }
}