* {
  margin: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  color: $color-font;
  font-size: $font-size;
}

body,html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid transparent;  //自定义边框
  outline: none;    //消除默认点击蓝色边框效果
}

.yy-loading {
  display: inline-block;
  vertical-align: middle;
  &__circular {
    width: 100%;
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
      vertical-align: super;
    }
    circle {
      -webkit-animation: circular 1.5s ease-in-out infinite;
      animation: circular 1.5s ease-in-out infinite;
      stroke: $color-font;
      stroke-width: 3;
      stroke-linecap: round;
    }
  }
}

.yy-page {
  padding: $space-primary;
  margin-top: $header-height;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.yy-box {
  & + .yy-box {
    margin-top: $space-primary;
  }
}

.yy-text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--gray {
    color: $color-info;
  }
}

.yy-float {
  &:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
  }
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}

.yy-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: $z-index-mask;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  -webkit-transition: opacity $animate-time ease-in-out,visibility $animate-time ease-in-out;
  transition: opacity $animate-time ease-in-out,visibility $animate-time ease-in-out;
  &--black {
    background-color: $color-black;
  }
  &--open {
    opacity: .5;
    visibility: visible;
  }
}