* {
  margin: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  color: $color-font;
  font-size: $font-size;
}

body,html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

input, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: none;
  outline: none;    //消除默认点击蓝色边框效果
  -webkit-appearance:none;
  border:none;
}

.yy-loading {
  display: inline-block;
  vertical-align: middle;
  &__circular {
    width: 100%;
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
      vertical-align: super;
    }
    circle {
      -webkit-animation: circular 1.5s ease-in-out infinite;
      animation: circular 1.5s ease-in-out infinite;
      stroke: $color-font;
      stroke-width: 3;
      stroke-linecap: round;
    }
  }
}

.yy-page {
  padding: $space-primary;
  margin-top: $header-height;
  height: calc(100vh - 50px);
  overflow-y: auto;
  &--reach {
    padding: $space-primary 0;
  }
}

pre,code {
  position: relative;
  display: block;
  font-size: $font-size - 2;
  overflow-x: auto;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: '微软雅黑';
}

.yy-layout {
  [class*=" yy-button--"],[class^="yy-button--"] {
    border: none;
    height: 30px;
    line-height: 30px;
  }
  .yy-column .yy-col {
    height: 40px;
    line-height: 40px;
  }
}

.yy-box {
  overflow: auto;
  & + .yy-box {
    margin-top: $space-primary;
  }
  &--gray {
    background-color: $color-border-light;
    padding: $space-primary;
    margin: $space-primary auto;
    + .yy-box {
      margin-top: $space-primary;
    }
  }
}

.yy-text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--primary {
    color: $color-primary;
  }
  &--info {
    color: $color-info;
  }
  &--gray {
    color: $color-gray;
  }
  &--success {
    color: $color-success;
  }
  &--error {
    color: $color-error;
  }
}

.yy-float {
  &:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
  }
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}

.yy-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: $z-index-mask;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  -webkit-transition: opacity $animate-time ease-in-out,visibility $animate-time ease-in-out;
  transition: opacity $animate-time ease-in-out,visibility $animate-time ease-in-out;
  &--black {
    background-color: $color-black;
  }
  &--white {
    background-color: $color-white;
  }
  &--transparent {
    background-color: transparent;
    visibility: visible;
  }
  &--open {
    opacity: .5;
    visibility: visible;
  }
}

.yy-list {
  padding: $space-primary;
  &--selected {
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.3s;
  }
  &--isLink {
    cursor: pointer;
  }
}