/***   color    ***/
$color-primary: #dc85a4;
$color-font: #333;
$color-success: #0ab833;
$color-error: #e10a0a;
$color-warning: #f4db0a;

$color-white: #fff;
$color-black: #000;
$color-gray: #5b5b5a;
$color-border-deep: #adadab;
$color-border-light: #dfdfde;

$animate-time: .3s;

/*** z-index ***/
$z-index-mask: 1000;
$z-index-mask-content: 1001;

/*** width height ***/
$aside-width: 200px;