/***   color    ***/
$color-primary: #dc85a4;
$color-font: #333;
$color-success: #0ab833;
$color-error: #e10a0a;
$color-warning: #f4db0a;

$color-white: #fff;
$color-black: #000;
$color-info: #5b5b5a;
$color-gray: #969799;
$color-border-deep: #adadab;
$color-border: #ddd;
$color-border-light: #eee;
// $color-border-light: #f1f1ef;

$animate-time: .3s;

$font-size: 14px;
$line-height: 22px;
$grid-col: 1,2,3,4,5,6;
$button-types: (primary $color-primary),(error $color-error), (warning $color-warning), (success $color-success), (info $color-info);

/*** z-index ***/
$z-index-header: 999;
$z-index-mask: 1000;
$z-index-mask-content: 1001;

/*** space ***/
$space-xs: 5px;
$space-sm: 8px;
$space-primary: 10px;
$space-md: 15px;
$space-lg: 20px;

/*** width height ***/
$popup-width: 200px;
$header-height: 50px;
$button-height: 40px;
$toast-icon-width: 134px;
$dialog-max-width: 300px;

/*** border raduis ***/
$border-radius-sm: 3px;
$border-radius-primary: 5px;
$border-radius-md: 8px;
$border-radius-circle: 50%;

/*** z-index ***/
$z-index-level1: 1;
$z-index-level2: 2;
$z-index-max: 9999;
:export {
  primaryColor: $color-primary;
  whiteColor: $color-white;
  errorColor: $color-error;
  warninfColoe: $color-warning;
  infoColor: $color-info;
  successColor: $color-success;
  headerHeight: $header-height;
  headerZIndex: $z-index-header;
}